.form__block {
  display: flex;
  flex-direction: column;

  &:last-of-type {
    margin: 0;
  }
}

.form__block-radio-cat {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 70px;

    gap: 20px 80px;
    grid-template-columns: repeat(2, 1fr);
  }

  .form__block {
    margin: 0;
  }
}

.form__block-cat {
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__block-radio {
  position: relative;

  padding: 28px 0 23px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;

    width: 125%;
    height: 1px;

    background-color: $color-gainsboro;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    top: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 28px 28px;

    border: 1px solid $color-whisper;
  }

  .form__label-radio {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__block-user {
  margin: 28px 0 24px;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px;
  }

  .form__list {
    @media (min-width: $desktop-width) {
      display: grid;

      gap: 20px 75px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .form__field-input {
    @media (min-width: $desktop-width) {
      padding: 9px 45px 10px 20px;
    }
  }

  .form__field-input:focus + .form__field-icon {
    color: $color-apple;
  }

  .form__field-input:invalid:not(:placeholder-shown) + .form__field-icon {
    color: rgb(255, 130, 130);
  }

  .form__field {
    position: relative;

    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  .form__title {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  .form__label {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      margin-right: 16px;
      padding-top: 10px;
    }
  }
}

.form__field-icon {
  position: absolute;
  top: 50%;
  right: 13px;

  width: 20px;
  height: 21px;
  padding: 0;

  background-color: $color-transparent;
  transform: translateY(-50%);
  cursor: pointer;

  &--email {
    right: 15px;

    height: 14px;

    @media (min-width: $desktop-width) {
      right: 20px;
    }
  }
}

.form__svg {
  margin: 0 auto;
}

.form__block-textarea {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }

  .form__field-input {
    width: 100%;
    min-height: 150px;
    padding-top: 9px;

    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 174px;
    }
  }
}

.form__block-checkbox {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }

  .form__list {
    @media (min-width: $tablet-width) {
      display: grid;
      margin-bottom: 0;

      gap: 42px 61px;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      gap: 42px 6.5%;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .form__item {
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  .form__title {
    @media (min-width: $tablet-width) {
      margin-bottom: 62px;
    }
  }

  .form__label-checkbox {
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      min-width: 221px;

      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__checkbox-input {
  &:hover + .form__mark-checkbox {
    border-color: $color-silver;
  }

  &:focus + .form__mark-checkbox {
    border-color: $color-apple;
    box-shadow: inset 0 0 0 2px $color-apple;
  }

  &:disabled + .form__mark-checkbox,
  &:disabled + .form__mark-checkbox + .form__label-checkbox {
    border-color: $color-very-light-grey;
    cursor: default;
    opacity: 0.3;
  }

  &:checked + .form__mark-checkbox::before,
  &:checked + .form__mark-checkbox::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;

    width: 26px;
    height: 26px;

    background-image: url("../img/background/mark.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 9px;
      left: 8px;

      width: 40px;
      height: 40px;

      background-size: 26px;
    }
  }
}

.form__block-button {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 42px 61px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    gap: 42px 82px;
  }
}

.form__button {
  margin-bottom: 21px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    min-height: 52px;
    margin: 0;
    padding: 13px;

    font-size: 20px;
  }
}

.form__line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    z-index: -1;

    width: 1000%;
    height: 2px;

    background-color: $color-apple;

    @media (min-width: $tablet-width) {
      top: 22px;
      left: -100%;
    }
  }
}

.form__title {
  width: max-content;
  max-width: 81%;
  margin: 0 0 38px -22px;
  padding: 0 22px;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    max-width: 95%;
    margin: 0 0 76px -40px;
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;
  }
}

.form__field {
  display: flex;
  margin-bottom: 13px;

  &:last-of-type {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__field-input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 13px 10px 13px 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $color-charcoal;
  text-transform: uppercase;

  border: 1px solid $color-whisper;

  appearance: textfield;

  &::placeholder {
    opacity: 1;
  }

  &:hover {
    border-color: $color-very-light-grey;
    cursor: pointer;
  }

  &:focus {
    border-color: $color-charcoal;
    outline: none;
    box-shadow: inset 0 0 0 1px $color-charcoal;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid rgb(255, 130, 130);
    outline-offset: -2px;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 15px 10px 19px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 15px 10px 18px;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.form__item {
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 13px;
  padding-top: 12px;

  font-size: 16px;
  line-height: 18px;
  color: $color-nero;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 20px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 17px;
    padding-top: 10px;
  }
}

.form__field-label {
  width: fit-content;
  max-width: 40%;

  @media (min-width: $tablet-width) {
    max-width: 50%;
  }

  &--email {
    min-width: 50px;

    @media (min-width: $tablet-width) {
      min-width: 63px;
    }
  }
}

.form__button-description {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-family: $ff-lato;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-self: center;

    font-size: 16px;
    text-align: start;
  }
}

.form__checkbox,
.form__radio {
  position: relative;

  display: block;
  padding-left: 46px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
  }
}

.form__mark-checkbox,
.form__mark-radio {
  position: absolute;
  top: -5px;
  left: 0;

  background-color: $color-white;
  border: 1px solid $color-very-light-grey;
}

.form__mark-checkbox {
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__mark-radio {
  width: 30px;
  height: 30px;

  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 0;

    width: 40px;
    height: 40px;
  }
}

.form__radio-input {
  &:hover + .form__mark-radio {
    border-color: $color-silver;
  }

  &:focus + .form__mark-radio {
    border-color: $color-apple;
    box-shadow: inset 0 0 0 2px $color-apple;
  }

  &:disabled + .form__mark-radio,
  &:disabled + .form__mark-radio + .form__label-radio {
    border-color: $color-very-light-grey;
    cursor: default;
    opacity: 0.3;
  }

  &:checked + .form__mark-radio::before,
  &:checked + .form__mark-radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 14px;
    height: 14px;

    background-color: $color-apple;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;

      background-size: 26px;
    }
  }
}

.has-error {
  border-color: $color-light-coral;
  box-shadow: inset 0 0 0 1px $color-light-coral;

  + .form__field-icon {
    color: $color-light-coral;
  }
}
