.header-hero {
  width: 100%;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;

    min-height: 696px;

    background-image: linear-gradient(to right, $color-white 50%, rgba($color-apple, 0.85) 50%, rgba($color-apple, 0.85) 50%);
    background-repeat: no-repeat;
    background-position: right;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -1;

      background-color: $color-apple;
      background-image: linear-gradient(rgba($color-apple, 0.85) 50%, rgba($color-apple, 0.85) 50%), url("../img/background/full-cat.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: linear-gradient(rgba($color-apple, 0.85) 50%, rgba($color-apple, 0.85) 50%), url("../img/background/full-cat@2x.jpg");
      }
    }
  }
}
