.promo-present {
  position: relative;
  z-index: -1;

  height: 100%;
  min-height: 288px;
  margin-bottom: 35px;
  padding: 35px 20px;

  background-color: $color-dim-gray;
  background-image: url("../img/background/cat-bag.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background/cat-bag@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-image: linear-gradient(rgba($color-apple, 0.85), rgba($color-apple, 0.85));
  }

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 50%;

    width: 78px;
    height: 80px;

    background-image: url("../img/background/present.svg");
    background-repeat: no-repeat;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 77px;

      width: 80px;
      height: 83px;

      transform: none;
    }

    @media (min-width: $desktop-width) {
      top: 56px;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  @media (min-width: $tablet-width) {
    height: auto;
    min-height: 200px;
    margin-bottom: 76px;
    padding: 0;

    background-image: url("../img/background/tablet-cat-bag.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background/tablet-cat-bag@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    background-image: url("../img/background/cat-bag.jpg");
    background-position: -34px center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background/cat-bag@2x.jpg");
    }
  }
}

.promo-present__description {
  width: 161px;
  margin: 0 auto;
  padding: 0;
  padding-top: 153px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-lato;
  text-align: center;
  color: $color-white;

  @media (min-width: $tablet-width) {
    margin-left: 59.9%;
    padding-top: 72px;
    padding-bottom: 20px;

    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin: 0 auto;
    padding: 187px 17px 42px;

    text-align: center;
  }
}
