.section-address {
  position: relative;

  background-color: $color-white;

  @media (min-width: $desktop-width) {
    padding: 95px 0 107px 0;
  }
}

.section-address__container {
  max-width: 1340px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 60px;
  }
}

.section-address__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    padding: 58px 70px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;

    display: grid;
    box-sizing: border-box;
    width: 565px;
    padding: 60px 80px;

    background-color: $color-white;

    gap: 20px 82px;
    grid-template-columns: 1fr 1fr;
  }

  &--index {
    background-color: $color-white;
  }
}

.section-address__title {
  width: 139px;
  margin: 0;
  padding: 0;
  padding-right: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    margin-top: 2px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.section-address__description {
  display: flex;
  flex-direction: column;
  width: 141px;
  padding-left: 2px;

  font-size: 14px;
  line-height: 20px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    width: 160px;

    font-size: 16px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    margin-top: -3px;
    margin-left: 3px;

    text-align: start;
  }
}

.section-address__street {
  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.section-address__map {
  height: 362px;

  background-image: url("../img/background/mobile-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background/mobile-map@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 396px;

    background-image: url("../img/background/tablet-map.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background/tablet-map@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;

    background-image: url("../img/background/desktop-map.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background/desktop-map@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 58.5%;
    left: 51%;

    width: 56px;
    height: 52px;

    background-color: $color-transparent;
    background-image: url("../img/background/map-icon.png");
    background-repeat: no-repeat;
    background-size: 56px 52px;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      top: 66%;

      width: 113px;
      height: 106px;

      background-size: 113px 106px;
    }

    @media (min-width: $desktop-width) {
      top: 46%;
      left: 66.7%;
      z-index: 2;

      width: 103px;
      height: 106px;
    }
  }
}

.section-address__map-iframe {
  display: block;
  width: 100%;

  border: none;

  @media (min-width: $tablet-width) {
    height: 396px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
  }
}
