// colors

$color-white: #ffffff;
$color-black: #000000;
$color-white-smoke: #f2f2f2;
$color-charcoal: #444444;
$color-apple: #68b738;
$color-dim-gray: #666666;
$color-nero-1: #111111;
$color-nero: #222222;
$color-whisper :#e7e7e7;
$color-whisper-light :#eaeaea;
$color-whisper-grey: #ebebeb;
$color-very-light-grey:#cdcdcd;
$color-transparent: transparent;
$color-limeade: #5eaa2f;
$color-gainsboro: #d9d9d9;
$color-light-coral: #ff8282;
$color-silver: #bababa;
$color-light-gray: #d3d3d3;

// fonts

$ff-lato: "Lato", "Arial", sans-serif;
$ff-oswald: "Oswald", "Arial", sans-serif;

// viewports

$tablet-width: 768px;
$desktop-width: 1024px;

// Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
